<table>
    <tr>
        <td>Nama </td>
        <td>Umur </td>
        <td>Jenis Kelamin </td>
        <td>Alamat </td>
    <tr>
    <% @penulis.each do |b| %>
    <tr>
        <td><%= b.name %></td>
        <td><%= b.age %></td>
        <td><%= b.gender %></td>
        <td><%= b.address %></td>
    <tr>
    <% end %>
</table>